@{ ViewData["Title"] = "Home"; Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="row">
    <div class="col-md-7 home-description-wrapper">
        <div class="home-description">
            <div class="description-title">
                <h1>Do You Know What is Hotel Share?</h1>
            </div>
            <div class="description-detail">
                Around the world, people travel every day, hour, minute. In every new city, people need a place to spend the night and spend time comfortably without too much trouble, because they usually go on a trip in order to relax and forget about their problems. Often, in order to book a hotel, a number of actions are required, such as making a phone call and arranging a reservation. Along with the sharing system for hotels, a person does not need to perform extra actions. All that is required is to take your phone to find a suitable number, come and use all the amenities without additional inconvenience.
            </div>
            <div class="description-bullet-list">
                <ul class="description-list">
                    <li>
                        Better usability.
                    </li>
                    <li>
                        Access with own smartphone or website.
                    </li>
                    <li>
                        Higher convenience.
                    </li>
                </ul>
            </div>
            <div class="description-btn">
                <a href="" class="btn">@Resources.LearnMore</a>
            </div>
        </div>
    </div>
    <div class="col-md-3 offset-md-1 home-news-wrapper">
        <div class="home-news">
            <div class="news-title">
                <h1>We Knocked Em’ll</h1>
            </div>
            <div class="news-inner">
                <div class="news-img">
                </div>
            </div>
        </div>
    </div>
</div>



